<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
  />
</head>
<body>
  <!--git版本: <%=  context.config.define.gitVersion  %>-->
  <!--git分支: <%=  context.config.define.gitBranch  %>-->
  <!--git commit id: <%=  context.config.define.gitCommit  %>-->
  <!--版本更新时间: <%=  context.config.define.publishDate  %>-->
  <div id="root"></div>
</body>
</html>
